<h3>Welcome to your Cookbook!</h3>
<p>
  <%= Time.now %>
</p>


<ul>
<% @recipes.each_with_index do |recipe, index| %>
<li>
<%= index + 1 %> - <%= recipe.name %>
</li>
<% end %>
</ul>
<p>What would you like to do?</p>

<a href="/new">Create</a>
<a href="/delete">Delete</a>
