<p>Please add your recipe</p>

 <form action="/new" method="post">
      <label for="name">Name</label>
      <input id="name" type="text" name="name"><br>

      <label for="author">Author</label>
      <input id="author" type="author" name="author"><br>

      <label for="rating">Rating</label>
      <input id="rating" name="rating"><br>
    <input class="button-primary" type="submit" value="submit" />
  </form>
